/* ====================
  Typography
==================== */
@use "../utils/variables" as *;

html,
body {
  font-family: $font-family-primary;
  font-weight: $normal;
  line-height: 1.3;
  color: $black;
}

.main-title {
  margin-bottom: 0.5em;
}

.current-date {
  margin-bottom: 1.5em;
  font-style: italic;
}
