/* ====================
  Typography
==================== */
@use "../utils/variables" as *;

html,
body {
  font-family: $font-family-primary;
  font-weight: $normal;
  line-height: 1.3;
  color: $black;
}
