/* ====================
  Mixins
==================== */

/* =========== Flexbox ========== */

@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}
@mixin flex-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-justify-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
