/* ====================
  Variables
==================== */

/* =========== Text styles ========== */

// Font family
$font-family-primary: "";
$font-family-secondary: "";
$font-family-tertiary: "";

// Font weight
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$bolder: 900;

/* =========== Colors ========== */

$black: #000;
$white: #fff;
$slate: #475569;
$gray: #4b5563;
$zinc: #52525b;
$neutral: #525252;
$stone: #57534e;
$red: #dc2626;
$orange: #ea580c;
$amber: #d97706;
$yellow: #ca8a04;
$lime: #65a30d;
$green: #16a34a;
$emerald: #059669;
$teal: #0d9488;
$cyan: #0891b2;
$sky: #0284c7;
$blue: #2563eb;
$indigo: #4f46e5;
$violet: #7c3aed;
$purple: #9333ea;
$fuchsia: #c026d3;
$pink: #db2777;
$rose: #e11d48;

/* =========== Box shadow ========== */

$box-shadow-small: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-medium: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-large: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
$box-shadow-extreme: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

/* =========== Responsive breakpoints ========== */

$tablet: 481px;
$laptop: 769px;
$desktop: 1280px;
