/* ====================
  Modal
==================== */
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 0 10%;
  background: rgba($black, 0.4);
  z-index: 1;
}

.modal {
  @include flex-column-align-center;
  position: relative;
  top: 25vh;
  width: 100%;
  padding: 40px 10% 20px;
  background: $bg-primary;
  border-radius: 20px;
  box-shadow: $box-shadow-medium;

  &__label {
    margin-bottom: 0.5em;
  }

  &__input {
    height: 40px;
    width: 100%;
    margin-bottom: 1em;
    padding-left: 1em;
    border: 1px solid $black;
    border-radius: 10px;
  }

  & .message-ui {
    margin-bottom: 1em;
    visibility: hidden;
  }
}

.modal__actions {
  display: flex;
  gap: 1em;

  & button {
    border-radius: 10px;
  }

  & .add-button {
    position: relative;
    font-size: 1rem;
  }

  & .cancel-button {
    color: $red;
    border: 1px solid $red;

    &:hover {
      color: darken($red, 20);
      background: rgba($black, 0.2);
      border-color: darken($red, 20);
    }

    &:active {
      color: lighten($red, 20);
      border-color: lighten($red, 20);
    }
  }
}
